@model ASPHomeWork_5.Models.ProductViewModel

<!DOCTYPE html>
<html>
<head>
    <style>
        .container {
            margin: 24px 0 12px 0;
        }

        a {
            margin-left: 36px;
        }
    </style>
</head>
<body>
    @foreach (var item in @Model.Products!)
    {
        <div class="container">
            <div>
                <label asp-for="Product!.Name"></label>
                <p style="display:inline-block;" class="lead"> => @item.Name</p>
            </div>
            <div>
                <label asp-for="Product!.Price"></label>
                <p style="display:inline-block;" class="lead"> => @item.Price manat</p>
            </div>
            <div>
                <label asp-for="Product!.Count"></label>
                <p style="display:inline-block;" class="lead"> => @item.Count</p>
            </div>
            <div>
                <label asp-for="Product!.Description"></label>
                <p style="display:inline-block;" class="lead"> => @item.Description</p>
            </div>
        </div>
    }
</body>
</html>